#root {
  margin: 0 auto;
  padding: 0rem;
  /* text-align: center; */
}
.loginImage {
  background-image: url(assets/image2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
